<nav *ngIf="!userIslogged">
  <a 
  routerLink="/login" 
  (click)="setSelected('login')"
  [ngClass]="{'selected': selected === 'login'}"
  >Login</a>
  <a 
  routerLink="/signup"
  (click)="setSelected('signup')"
  [ngClass]="{'selected': selected === 'signup'}"
  >Signup</a>
</nav>

<nav *ngIf="userIslogged" class="login-nav">
  <div>
    <a 
    routerLink="/dashboard"
    (click)="setSelected('dashboard')"
    [ngClass]="{'selected': selected === 'dashboard'}"
    >Dashboard</a>
    
    <a 
    routerLink="/users"
    (click)="setSelected('users')"
    [ngClass]="{'selected': selected === 'users'}"
    >Usuarios</a>
  </div>

  <div class="user-name">
    <div class="initials">
      {{usernameInitials}} 
    </div>
    <div class="name">
      {{userName}}
    </div>
  </div>
</nav>