nav {
  background-color: rgb(13, 172, 255);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

a {
  text-decoration: none;
  color: white;
  padding: 16px;
}

a:first-child {
  margin-left: 10px;
}

.selected {
  background-color: rgb(28, 119, 211);
}